/* -------------------------------------------------------------------------- */
/*                           Custom css for frontend                          */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

input {
    min-height: 46px;
}

body {
    font-size: 14px;

}

.common-border {
    border: 2px solid #b9b9b9;
}

.border-red {
    border: 2px solid red;
}

.heading {
    font-family: 'Lora', serif;
}


td,
th {
    padding: 8px;
}
